.wp-block-wp-aparat-aparat-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0 0 0 1px #1e1e1e;
    outline: 1px solid transparent;
    padding: 1em;
}
.wp-block-wp-aparat-aparat-block .aparat-title {
    display: flex;
    width: 100%;
    flex: 1;
}
.wp-block-wp-aparat-aparat-block .aparat-title > * {
    display: inline-flex;
}
.wp-block-wp-aparat-aparat-block .aparat-title svg {
    width: 50px;
    height: 50px;
}
.wp-block-wp-aparat-aparat-block .aparat-title h4 {
    margin: auto 0;
    text-indent: 1em;
    width: auto;
}
.wp-block-wp-aparat-aparat-block h5 {
    margin: 1em 0 0;
    font-size: 0.9em;
    width: 100%;
}
.wp-block-wp-aparat-aparat-block p {
    margin: 0 0 0.5em;
    font-size: 0.8em;
    width: 100%;
}
.wp-block-wp-aparat-aparat-block .aparat-id {
    width: 100%;
    line-height: 2em;
    padding: 0.3em 0.6em;
    border: 1px solid #8f8f9d;
}
.wp-block-wp-aparat-aparat-block .aparat-size {
    width: 100%;
    padding: 0.3em;
    max-width: 100%;
    outline: none;
    border: 1px solid #8f8f9d;
}