/**
Aparat for Wordpress plugin by Alireza Sedghi licenced by alirezasedghi.com
 */
.wp-aparat-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}
.wp-aparat-box > li.aparat-feed-item {
    display: flex;
    flex: 1;
    width: 100%;
    list-style: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}
.wp-aparat-box > li.aparat-feed-item:first-child {
    padding-top: 0;
}
.wp-aparat-box > li.aparat-feed-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.wp-aparat-box.wp-aparat-full-box > li.aparat-feed-item {
    flex-wrap: wrap;
}
.wp-aparat-box > li.aparat-feed-item > * {
    display: inline-flex;
}
.wp-aparat-box.wp-aparat-full-box > li.aparat-feed-item > * {
    display: flex;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    -moz-box-align: start;
    align-items: flex-start;
    -moz-box-pack: start;
    justify-content: center;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure.one-third {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure.half {
    flex: 0 0 auto;
    width: 50%;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure.full {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 0.5rem;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure > a {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-position: center center;
    background-size: cover;
    background-color: rgb(245, 245, 249);
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure > a .aparat-video-ratio {
    display: block !important;
    padding-top: 56.25% !important;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure > a .aparat-video-duration {
    position: absolute;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    margin-right: auto;
    padding: 0 0.25em;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 3px;
    left: 3px;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-info {
    flex: auto;
    flex-direction: column;
    padding-right: 0.8rem;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure.one-third + .aparat-item-info {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure.half + .aparat-item-info {
    flex: 0 0 auto;
    width: 50%;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-figure.full + .aparat-item-info {
    flex: 0 0 auto;
    width: 100%;
    padding: 0;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-info .aparat-item-title {
    width: 100%;
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 0.5rem;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-info .aparat-item-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-info .aparat-item-details span {
    font-size: 1em;
    margin-left: 1rem;
}
.wp-aparat-box > li.aparat-feed-item .aparat-item-info .aparat-item-details span:last-child {
    margin-left: 0;
}